// base
// endbase

// injector
// endinjector

html,body {
  margin:0;
  padding:0;
  height:100%; /* needed for container min-height */
  background: url("../assets/images/dark_wood.png");
  color: white;
}

a {
  color: $green;
  &:hover {
    color:darken($green,10%);
  }
}

.jumbotron {
  padding: 20px 0;
}

.sidebar-right {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

.black-wood{
  background: url("../assets/images/dark_wood.png");
  color: white;
}